KERNEL=="sd?*[0-9]*", ACTION=="add", RUN+="/opt/ds/src/event/on_add_event.sh %k"
KERNEL=="sd?*[0-9]*", ACTION=="remove", RUN+="/opt/ds/src/event/on_remove_event.sh %k"
